.sidebarStyle {
    font-family: "Roboto Thin", sans-serif;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.calculationBox {
    font-family: "Roboto Thin", sans-serif;
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .mapboxgl-ctrl-group button, span {
        height: 43px;
        width: 43px;
        background-size: cover;
    }
    .mapboxgl-ctrl-zoom-in {
        display: none !important;
    }
    .mapboxgl-ctrl-zoom-out {
        display: none !important;
    }
    .mapboxgl-ctrl-compass {
        display: none !important;
    }
}

/*.mapboxgl-ctrl-zoom-in span  {*/
/*    background-size: cover;*/
/*}*/